%article.video
  .container
    .row
      %header
        %h3= @album.name
        %p  by
          = link_to @album.artist.name, artist_path(artist)
        .video_large_cover.col-sm-7.col-sm-offset-1
          = image_tag @album.cover.med_version.url, alt: "album cover"
          %table.table
            %thead
              %tr
                %th Track No.
                %th Song
                %th Add to Playlist
            %tbody
          - @songs.each do |song|
                  %td= song.track
                  %td= link_to song.title, song.url
                  %td= link_to " + My Playlist", playlist_items_path(song_id: song.id), method: :post, class: 'btn' unless current_user.queued_song?(@song)
